* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav ul li .color {
color:#EB662B;
}
.container {
    background-image: url(Section\ →\ image.png);
    background-size: cover;
    background-position: center;
    height: 85vh;
    padding: 20px;
}
.nav {
    display: flex;
    justify-content: space-between;
    
}
.left {
    list-style-type: none;
}
.right {
    list-style-type: none;
}
.left li {
    display: inline-block;
}
.right li {
    display: inline-block;
}
.left li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14.77px;
    color: #fff;
    padding: 12px 14px;
    font-weight: bold;
}
.right li a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14.77px;
    color: #fff;
    padding: 12px 14px;
    font-weight: bold;
}
.left li a:hover {
    background-color: #ddd;
}
.right li a:hover {
    background-color: #ddd;
}

.logo {    
    height: 25px;
    cursor: pointer;

}
.nav ul li .login {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgb(255, 255, 255);
    border-radius: 26px;
}